.layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layout.sign-in {
  margin-top: 35vh;
}

.logo {
  height: 32px;
  will-change: filter;
  transition: filter 300ms;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
